In [9]:
import pandas as pd

In [10]:
data = pd.read_csv('GasPricesinBrazil_2004-2019.csv', sep=';')
display(data)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

In [11]:
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106823 entries, 0 to 106822
Data columns (total 21 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     106823 non-null  int64
 1   DATA INICIAL                   106823 non-null  object
 2   DATA FINAL                     106823 non-null  object
 3   REGIÃO                         106823 non-null  object
 4   ESTADO                         106823 non-null  object
 5   PRODUTO                        106823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   106823 non-null  int64
 7   UNIDADE DE MEDIDA              106823 non-null  object
 8   PREÇO MÉDIO REVENDA            106823 non-null  float64
 9   DESVIO PADRÃO REVENDA          106823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           106823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           106823 non-null  float64
 12  MARGEM MÉDIA REVENDA           106823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       106823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       106823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     106823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      106823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      106823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  106823 non-null  object
 19  MÊS                            106823 non-null  int64
 20  ANO                            106823 non-null  int64
dtypes: float64(5), int64(4), object(12)
memory usage: 17.1+ MB

In [13]:
data = data.drop('Unnamed: 0', axis=1)
display(data)

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.190,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.890,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.180,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.090,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.050,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,3.499,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,3.230,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,2.699,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,3.689,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

Todo dataset (dados estruturados) é um Data Frame

In [14]:
type(data)

pandas.core.frame.DataFrame

In [16]:
print(f'O Data Frame possui {data.shape[0]} linhas e {data.shape[1]} colunas.')

O Data Frame possui 106823 linhas e 20 colunas.

In [21]:
display(data[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']])

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,PREÇO MÉDIO REVENDA
0,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1.288
1,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1.162
2,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1.389
3,2004-05-09,2004-05-15,CENTRO OESTE,ETANOL HIDRATADO,1.262
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.181
...,...,...,...,...,...
106818,2019-06-23,2019-06-29,NORDESTE,GNV,3.574
106819,2019-06-23,2019-06-29,SUL,GNV,3.401
106820,2019-06-23,2019-06-29,SUL,GNV,2.912
106821,2019-06-23,2019-06-29,SUDESTE,GNV,3.020
106822,2019-06-23,2019-06-29,NORDESTE,GNV,3.697

In [24]:
nordeste_df = data.loc[data['REGIÃO'] == 'NORDESTE']
display(nordeste_df[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']])

,DATA INICIAL,DATA FINAL,REGIÃO,PRODUTO,PREÇO MÉDIO REVENDA
4,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.181
5,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.383
6,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.453
7,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.631
8,2004-05-09,2004-05-15,NORDESTE,ETANOL HIDRATADO,1.284
...,...,...,...,...,...
106810,2019-06-23,2019-06-29,NORDESTE,GNV,3.656
106814,2019-06-23,2019-06-29,NORDESTE,GNV,3.688
106816,2019-06-23,2019-06-29,NORDESTE,GNV,2.698
106818,2019-06-23,2019-06-29,NORDESTE,GNV,3.574
106822,2019-06-23,2019-06-29,NORDESTE,GNV,3.697

In [31]:
nordeste_gasolina_df = nordeste_df.loc[data['PRODUTO'] == 'GASOLINA COMUM']
nordeste_etanol_df = nordeste_df.loc[data['PRODUTO'] == 'ETANOL HIDRATADO']
nordeste_gnv_df = nordeste_df.loc[data['PRODUTO'] == 'GNV']
nordeste_glp_df = nordeste_df.loc[data['PRODUTO'] == 'GLP']
nordeste_diesel_df = nordeste_df.loc[data['PRODUTO'] == 'ÓLEO DIESEL']
nordeste_diesels10_df = nordeste_df.loc[data['PRODUTO'] == 'ÓLEO DIESEL S10']

display(nordeste_gasolina_df[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']].head())

      DATA INICIAL  DATA FINAL    REGIÃO         PRODUTO  PREÇO MÉDIO REVENDA
12068   2004-05-09  2004-05-15  NORDESTE  GASOLINA COMUM                2.090
12069   2004-05-09  2004-05-15  NORDESTE  GASOLINA COMUM                2.040
12070   2004-05-09  2004-05-15  NORDESTE  GASOLINA COMUM                2.148
12071   2004-05-09  2004-05-15  NORDESTE  GASOLINA COMUM                2.089
12072   2004-05-09  2004-05-15  NORDESTE  GASOLINA COMUM                1.989

In [33]:
display(nordeste_etanol_df[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']].head())

  DATA INICIAL  DATA FINAL    REGIÃO           PRODUTO  PREÇO MÉDIO REVENDA
4   2004-05-09  2004-05-15  NORDESTE  ETANOL HIDRATADO                1.181
5   2004-05-09  2004-05-15  NORDESTE  ETANOL HIDRATADO                1.383
6   2004-05-09  2004-05-15  NORDESTE  ETANOL HIDRATADO                1.453
7   2004-05-09  2004-05-15  NORDESTE  ETANOL HIDRATADO                1.631
8   2004-05-09  2004-05-15  NORDESTE  ETANOL HIDRATADO                1.284

In [36]:
display(nordeste_gnv_df[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']].head())

      DATA INICIAL  DATA FINAL    REGIÃO PRODUTO  PREÇO MÉDIO REVENDA
36197   2004-05-09  2004-05-15  NORDESTE     GNV                1.084
36198   2004-05-09  2004-05-15  NORDESTE     GNV                1.079
36199   2004-05-09  2004-05-15  NORDESTE     GNV                1.184
36200   2004-05-09  2004-05-15  NORDESTE     GNV                1.149
36201   2004-05-09  2004-05-15  NORDESTE     GNV                1.147

In [37]:
display(nordeste_diesel_df[['DATA INICIAL', 'DATA FINAL','REGIÃO', 'PRODUTO', 'PREÇO MÉDIO REVENDA']].head())

      DATA INICIAL  DATA FINAL    REGIÃO      PRODUTO  PREÇO MÉDIO REVENDA
43551   2004-05-09  2004-05-15  NORDESTE  ÓLEO DIESEL                1.362
43552   2004-05-09  2004-05-15  NORDESTE  ÓLEO DIESEL                1.335
43553   2004-05-09  2004-05-15  NORDESTE  ÓLEO DIESEL                1.548
43554   2004-05-09  2004-05-15  NORDESTE  ÓLEO DIESEL                1.363
43555   2004-05-09  2004-05-15  NORDESTE  ÓLEO DIESEL                1.314

In [41]:
regiao = data[['REGIÃO', 'PRODUTO']].groupby('REGIÃO').sum()

display(regiao)

                                                        PRODUTO
REGIÃO
CENTRO OESTE  ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...
NORDESTE      ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...
NORTE         ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...
SUDESTE       ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...
SUL           ETANOL HIDRATADOETANOL HIDRATADOETANOL HIDRATA...

In [50]:
data.loc[4392]

DATA INICIAL                           2007-07-01
DATA FINAL                             2007-07-07
REGIÃO                                    SUDESTE
ESTADO                                  SAO PAULO
PRODUTO                          ETANOL HIDRATADO
NÚMERO DE POSTOS PESQUISADOS                 3543
UNIDADE DE MEDIDA                            R$/l
PREÇO MÉDIO REVENDA                         1.214
DESVIO PADRÃO REVENDA                       0.117
PREÇO MÍNIMO REVENDA                         0.85
PREÇO MÁXIMO REVENDA                        1.699
MARGEM MÉDIA REVENDA                        0.335
COEF DE VARIAÇÃO REVENDA                    0.096
PREÇO MÉDIO DISTRIBUIÇÃO                    0.879
DESVIO PADRÃO DISTRIBUIÇÃO                  0.089
PREÇO MÍNIMO DISTRIBUIÇÃO                   0.685
PREÇO MÁXIMO DISTRIBUIÇÃO                  1.2649
COEF DE VARIAÇÃO DISTRIBUIÇÃO               0.101
MÊS                                             7
ANO                                          2007
Name: 4392, dtype: object

In [52]:
data.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,1.09,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,1.05,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

Selecionar apenas os preços de São Paulo

In [58]:
selecao = data['ESTADO'] == 'SAO PAULO'

In [59]:
data[selecao]

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
23,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
50,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
77,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
104,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
131,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106724,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
106751,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
106778,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
106805,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019

In [67]:
postos_sp = data.query('ESTADO == "SAO PAULO"').reset_index(drop=True)
postos_sp

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,2004-05-09,2004-05-15,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4047,R$/l,0.768,0.085,0.590,1.150,0.198,0.111,0.57,0.056,0.4271,1.4123,0.098,5,2004
1,2004-05-16,2004-05-22,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4066,R$/l,0.766,0.083,0.590,1.150,0.19,0.108,0.576,0.05,0.43204,0.9724,0.087,5,2004
2,2004-05-23,2004-05-29,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4077,R$/l,0.823,0.071,0.620,1.199,0.209,0.086,0.614,0.063,0.34951,1.412,0.103,5,2004
3,2004-05-30,2004-06-05,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4073,R$/l,0.887,0.075,0.639,1.359,0.216,0.085,0.671,0.075,0.3398,1.0669,0.112,5,2004
4,2004-06-06,2004-06-12,SUDESTE,SAO PAULO,ETANOL HIDRATADO,4082,R$/l,0.894,0.071,0.669,1.199,0.205,0.079,0.689,0.072,0.47797,1.0669,0.104,6,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4258,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL,863,R$/l,3.448,0.156,3.099,4.220,0.401,0.045,3.047,0.097,2.8599,3.3481,0.032,6,2019
4259,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,ÓLEO DIESEL S10,1277,R$/l,3.574,0.169,3.199,4.320,0.451,0.047,3.123,0.111,2.885,3.491,0.036,6,2019
4260,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GASOLINA COMUM,1644,R$/l,4.142,0.183,3.769,4.999,0.429,0.044,3.713,0.097,3.52,4.0892,0.026,6,2019
4261,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GLP,1017,R$/13Kg,66.893,6.100,50.000,89.900,17.679,0.091,49.214,5.071,40.19,72,0.103,6,2019
4262,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,2.699,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019