**Introdução ao Pandas no Python**

Importando Pandas

In [ ]:
import pandas as pd

**Criando um *dataframe* a partir de um dicionário**
- dataframe é uma tabela dentro do Python

In [ ]:
dataframe = pd.DataFrame() # cria uma tabela vazia

# criando um dicionário
venda = {'data': ['15/02/2021', '16/02/2021'],
       'valor': [500, 300],
       'produto': ['feijao', 'arroz'],
       'qtde': [50, 70]
}

# criando uma dataframe a partir de um dicionario
vendas_df = pd.DataFrame(venda)

**Visualização dos dados**
- *print*: exibe como se fosse um bloco de texto
- *display*: exibe uma tabela mais estilizada (melhor visualização)

In [ ]:
print(vendas_df)
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

**Importando arquivos e base de dados**

In [ ]:
# transforma o arquivo em dataframe
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

**Visualização de dados**
- head: mostra as quantidades de linhas informada
- shape: mostra quantas linhas e colunas tem a tabela (menos custoso que o display)
- describe: faz um resumo das colunas numéricas

In [ ]:
display(vendas_df.head(5))
print(vendas_df.shape)
display(vendas_df.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

**Visualizar 1 coluna**

In [ ]:
produtos = vendas_df[['Produto', 'ID Loja']]
display(produtos)

                 Produto              ID Loja
0         Sapato Estampa   Iguatemi Esplanada
1               Camiseta   Iguatemi Esplanada
2          Sapato Xadrez   Iguatemi Esplanada
3                Relógio       Norte Shopping
4           Chinelo Liso       Norte Shopping
...                  ...                  ...
93905     Mochila Xadrez  Shopping Vila Velha
93906  Pulseira Listrado    Ribeirão Shopping
93907     Cueca Listrado    Ribeirão Shopping
93908     Pulseira Linho     Shopping Morumbi
93909      Casaco Xadrez     Shopping Morumbi

[93910 rows x 2 columns]

**Método .loc**
- Pega uma linha específica

In [ ]:
# pegar uma linha específica
display(vendas_df.loc[1:5])

- Faz seleção nos dataframes

In [ ]:
# pegar linhas e colunas do loc
# .loc[linhas, colunas]
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ['ID Loja', 'Produto', 'Quantidade']]

- Pega linhas de acordo com alguma condição

In [ ]:
# pegar linha que corresponde a uma condição
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']


- Pegar um valor específico

In [ ]:
# pegar um valor específico
print(vendas_df.loc[1, 'Produto'])

**Adicionando uma coluna**
- A partir de uma coluna existente
- Criar uma nova com valor padrão (menos custoso)

In [ ]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")

vendas_df = pd.concat([vendas_df, vendas_dez_df])
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [ ]:
# a partir de uma coluna existente
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.05
# display(vendas_df)

# criar uma coluna com valor padrão
vendas_df.loc[:, 'Imposto'] = 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

In [ ]:
vendas_df = vendas_df.drop(0, axis=0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,10.20,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,54.00,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,4.35,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,5.40,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,13.30,0

**Comandos importantes para análise de dados**  
*Valores vazios*
- Detectar linhas/colunas vazias
- Deletar linhas que possuem valores vazios
- Preencher valores vazios (média e último valor)

In [ ]:
# deletar linhas e colunas totalmente vazias
vendas_df = vendas_df.dropna(how='all', axis=1)
display(vendas_df)

# deletar linhas que possuem pelo menos um valor vazio
# vendas_df = vendas_df.dropna()

# prencher valores vazios
# média
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean()) 

# último valor
# vendas_df = vendas_df.ffill()

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.80,0,Salvador
...,...,...,...,...,...,...,...,...,...,...
108080,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,9.60,0,Mateus
108081,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,64.00,0,Mateus
108082,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,35.40,0,Mateus
108083,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,108.00,0,Mateus
108084,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,89.50,0,Mateus

**Calcular indicadores**
- Groupby
- Value counts

In [ ]:
# value counts
transacoes_lojas = vendas_df['ID Loja'].value_counts()
display(transacoes_lojas)

#groupby
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

ID Loja
Shopping Vila Velha                 4533
Palladium Shopping Curitiba         4511
Rio Mar Recife                      4465
Norte Shopping                      4434
Iguatemi Campinas                   4423
Rio Mar Shopping Fortaleza          4412
Bourbon Shopping SP                 4402
Shopping SP Market                  4352
Salvador Shopping                   4332
Ribeirão Shopping                   4325
Shopping Ibirapuera                 4324
Shopping Center Leste Aricanduva    4323
Center Shopping Uberlândia          4313
Shopping Iguatemi Fortaleza         4311
Shopping Eldorado                   4306
Passei das Águas Shopping           4289
Novo Shopping Ribeirão Preto        4288
Shopping União de Osasco            4279
Shopping Center Interlagos          4275
Shopping Morumbi                    4264
Iguatemi Esplanada                  4237
Shopping Barra                      4222
Parque Dom Pedro Shopping           4192
Shopping Recife                     4177
Shopping Midway Mall                4096
Name: count, dtype: int64

                  Valor Final
Produto
Bermuda                290700
Bermuda Estampa        310284
Bermuda Linho          420225
Bermuda Liso           294375
Bermuda Listrado       313449
...                       ...
Tênis Estampa          489728
Tênis Linho            573594
Tênis Liso             508592
Tênis Listrado         506970
Tênis Xadrez           489251

[120 rows x 1 columns]

In [ ]:
faturamento_loja = vendas_df[['ID Loja', 'Valor Final']].groupby('ID Loja').sum()
display(faturamento_loja)

                                  Valor Final
ID Loja
Bourbon Shopping SP                   1851960
Center Shopping Uberlândia            1793881
Iguatemi Campinas                     1912378
Iguatemi Esplanada                    1802665
Norte Shopping                        1813459
Novo Shopping Ribeirão Preto          1777928
Palladium Shopping Curitiba           1841741
Parque Dom Pedro Shopping             1753685
Passei das Águas Shopping             1761103
Ribeirão Shopping                     1820058
Rio Mar Recife                        1862635
Rio Mar Shopping Fortaleza            1826320
Salvador Shopping                     1775895
Shopping Barra                        1756251
Shopping Center Interlagos            1744307
Shopping Center Leste Aricanduva      1769026
Shopping Eldorado                     1772450
Shopping Ibirapuera                   1742967
Shopping Iguatemi Fortaleza           1799006
Shopping Midway Mall                  1695710
Shopping Morumbi                      1703240
Shopping Recife                       1756750
Shopping SP Market                    1832596
Shopping União de Osasco              1779802
Shopping Vila Velha                   1847063

**Mesclar dois dataframes**  
Procurar informações de um dataframe em outro

In [ ]:
gerentes_df = pd.read_excel("Gerentes.xlsx")

# objetivo: mostrar no dataframe vendas_df os gerentes
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0,Salvador
2,21,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,11.60,0,Salvador
3,34,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,18.15,0,Salvador
4,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236,11.80,0,Salvador
...,...,...,...,...,...,...,...,...,...,...
108080,69846,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,9.60,0,Mateus
108081,69846,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,64.00,0,Mateus
108082,69850,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,35.40,0,Mateus
108083,69972,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,108.00,0,Mateus
108084,69972,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,89.50,0,Mateus